.not-found-container {
  display: grid;
  grid-template-columns: 0.7fr 3fr; /* Creates two columns, sidebar 1/4 and content 3/4 of the container width */
  grid-template-rows: auto 1fr; /* Creates two rows, header height determined by content, and the second row taking up the remaining space */
  gap: 10px; /* Adds a 10px gap between grid items */
  height: 100vh; /* Sets the container height to be 100% of the viewport height */
}

.not-found-header {
  grid-column: 1 / -1; /* Spans the header across all columns */
}

.not-found-sidebar {
  grid-row: 2; /* Positions the sidebar in the second row */
}

.not-found-body {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: 1rem;
  grid-row: 2; /* Positions the content in the second row */
}
.not-found-row-1 {
  display: inline-block;
  padding: 1rem 0 1rem 0;
  display: flex;
  gap: 5rem;
}
